<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.untitleddevelopments.wintecdegreeplanner">

    <application
        android:name=".DB.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view_student"></activity>
        <activity android:name=".edit_student" />
        <activity android:name=".manage_students" />
        <activity android:name=".activity_add_student" />
        <activity android:name=".about_edit" />
        <activity android:name=".about_screen" />
        <activity android:name=".global.PrefsTestActivity" />
        <activity android:name=".tests.DBTestActivity" /> <!-- Geoffs activities -->
        <activity
            android:name=".ui.StuPlan.StuPlanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_stu_plan" />
        <!--
 <activity
            android:name=".GeoffsSandpit.GeoffTest"
            android:label="@string/title_activity_geoff_test"
            android:theme="@style/AppTheme.NoActionBar" />  End of Geoffs
        -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- cw apps -->
        <activity
            android:name=".otsDisclaimer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otsStudentAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otsStudentSignup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otsAdminPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".otsStudentDone"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- ADMIN UI/ACTIVITIES STARTS -->
        <activity
            android:name=".admin.AdminMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminAddStudentActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- ADMIN UI/ACTIVITIES ENDS -->
        <!-- Module Activities -->
        <activity
            android:name=".ui.StuPlan.ModulePopup"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ui.StuPlan.OnLongClickTest" />
        <activity android:name=".modules.modules_credits_edit" />
        <activity android:name=".modules.modules_desc_edit" />
        <activity android:name=".modules.modules_level_edit" />
        <activity android:name=".modules.modules_title_edit" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>